*.pdf

HW1/*.txt
HW1/0410784.zip

HW2/0410784*.zip

HW5/glove*.txt

HW*/*.csv
Hw*/*.h5
HW*/Lung
HW*/Lung.zip

project/images
project/reference
project/*.csv
project/*.xlsx
project/*.jpg

referencebooks/
